*::selection{
  background-color: rgba(216, 104, 104, 0.768);
  color: white;
}

/* ---------------------Scroll bar--------------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c6c6c; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7e3030; 
}
/* ---------------------------------------------------- */


body {
  overflow-x: hidden;
  background-color: black;
  position: relative;
}

.navbar li a::after{
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.navbar li a:hover::after{
  transform: scaleX(1);
}

.navbar li a{
  font-size: 18px;
}

.navbar li a:hover{
  color: rgb(255, 64, 64);
  transition: 0.5s ease-in-out;
}



.slogan{
    left: 100px;
    top: 240px;
    width: 500px;
    font-weight: bolder;
}

.reserve{
  top: 165px;
  right: 20px;
  background-color: #f1f1f187;
  padding: 10px;
  width: 317px;
  border-radius: 10px;
}

.c1{
  display: inline-block;
  width: 48%;
}

.service-title{
  font-weight: bold;
}

.banner{
  height: 100vh;
  margin: 55px 80px;
  background-color: #f0f8ff26;
  padding: 20px;
  border-radius: 30px;
}

.banner p{
  width: 485px;
  padding: 24px 0px;
};


.why-holder div{
  margin: 0px 10px;
}


.rate img{ 
  margin: 5px;
}

/* ------------------------------------------------PARK------------------------------------------------ */
.park{
  background-color: #f0f8ffa6;
  border-radius: 15px;
  padding: 20px;
}

/* ---------------------------------------------- */

.box-container{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    min-height: 80vh;
}

.content{
  padding: 2rem 4rem;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 69rem;
  padding-left: 15rem;
  background-color: rgb(213 35 35);
  clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-side{
  clip-path: polygon(0 0, 55% 0, 100% 100%, 0 100%);;
}

.right-side{
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 30% 100%);
}


.img-holder img{
  filter: invert(42%) sepia(80%) saturate(3537%) hue-rotate(333deg) brightness(103%) contrast(128%);
}

/* .test{
  background-image: url(./../images/footer2.png);
  background-size: contain;
} */



/* ----------------------Animation--------------------------- */


#title h1 {
  animation: fade 4s ease;
}


@keyframes fade {
  0%{
    opacity: 0;
    transform: translateX(500px);
  }
  50%{
    opacity: 1;
    transform: translateX(0px);
  }

  100%{
    transition: all 5s ease ;
  }
}
/* ----------------------------------------------------------- */
.animated {
  opacity: 0;
  animation: fadeInUp 2.5s ease forwards;
}

@keyframes fadeInUp {
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  50%{
    opacity: 1;
    transform: translateY(0px);
  }

  100%{
    opacity: 1;
  }
}



/* ----------------------------------------------------------- */
.specials{
  animation: pop 1.5s ease;
}


@keyframes pop {
  0%{
    opacity: 0;
    transform: scale(50%);
  }

  80%{
    transform: scale(100%);
  }

  100%{
    opacity: 1;
    transition: all 0.1s ease-out ;
  }
}

/* ----------------------------------------------------------- */

.text_animation{
  opacity: 0;
  animation: from-right 2.5s ease 0.2s forwards;
}

@keyframes from-right {
  0%{
    opacity: 0;
    transform: translateX(100px);
  }

  50%{
    transform: translateX(0px);
  }

  100%{
    opacity: 1;
  }
}

