body{
    width: 100%;
    /* height: 200vh; */
    background-color: rgb(238, 181, 181);
    /* background-image:linear-gradient(rgba(0, 8, 51, 0.932),rgba(160, 47, 134, 0.795)),url('../images/footer.png') ; */
    background-image: linear-gradient(rgb(33 34 35 / 93%),rgb(27 27 27 / 80%)),url(../images/footer.png);
    background-size: 100%;
    
}

.slogan{
    left: 100px;
    top: 240px;
    width: 500px;
    font-weight: bolder;
}

.reserve{
  top: 165px;
  right: 20px;
  background-color: #f1f1f187;
  padding: 10px;
  width: 317px;
  border-radius: 10px;
}

.c1{
  display: inline-block;
  width: 48%;
}

.service-title{
  font-weight: bold;
}

.banner{
  height: 100vh;
  margin: 55px 80px;
  background-color: #f0f8ff26;
  padding: 20px;
  border-radius: 30px;
}

.banner p{
  width: 485px;
  padding: 24px 0px;
};


.why-holder div{
  margin: 0px 10px;
}

.countup{
  margin-top: -120px; 
  border-radius: 0px 0px 15px 15px; 
  background-color: #ffffff5c;
}

.rate img{ 
  margin: 5px;
}

/* ------------------------------------------------PARK------------------------------------------------ */
.park{
  background-color: #f0f8ffa6;
  border-radius: 15px;
  padding: 20px;
}

